.dashboard{
    padding: 20px;
    .header{
        .title{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    .content{
        section.orders-stats{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .stat{
                width: calc(100% / 3 - 20px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 30px 0;
                border-radius: 10px;
                color: white;
                &.today{
                    background-color: #0694a2;
                }
                &.monthly{
                    background-color: #3f83f8;
                }
                &.total{
                    background-color: #0e9f6e;
                }
                .icon{
                    font-size: 30px;
                    margin-bottom: 5px;
                }
                .title{
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 7px;
                }
                .value{
                    font-size: 1.875rem;
                    font-weight: 600;
                }
            }
        }
        section.orders-count{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .count{
                width: calc(100% / 4 - 20px);
                background-color: white;
                display: flex;
                align-items: center;
                padding: 20px;
                border: 1px solid rgb(228, 228, 228);
                border-radius: 10px;
                .icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 600;
                    margin-right: 10px;
                }
                .title{
                    font-weight: 550;
                }
                .value{
                    font-weight: 600;
                    font-size: 18px;
                }
                &.total{
                    .icon{
                        background-color: #fcd9bd;
                        color: #de6a3b;
                    }
                }
                &.pending{ .icon{ background-color: #c3ddfd; color: #1c64f2; } }
                &.processing{ .icon{ background-color: #afecef; color: #2e929c; } }
                &.delivered{ .icon{ background-color: #bcf0da; color: #10815d; } }
            }
        }
    }
}