.side {
    position: relative;
    width: 250px;
    transition: all .5s ease;
}
.sidebar{
    height: 100vh;
    position: fixed;
    width: 250px;
    background-color: white;
    transition: .2s ease-in;
    border-right: 1px solid rgb(243, 243, 243);
}
.nav{
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr;
}
.nav-left
{
    max-width: 100%;
    min-height: 100vh;
    padding-bottom: 2%;
    transition: all .5s ease;
}
.top
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    transition: .5s;
}
.logo
{
    transition: .5s;
}
.menus-section
{
    margin-top: 30px;
    width: 90%;
    overflow-x: hidden;
}
.menu-item
{
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 15px 20px;
    transition: .5s ease;
    cursor: pointer;
    border-left: 5px solid transparent;
    font-weight: 500;
    color: gray;
}
.menu-name
{
    font-size: 16px;
    transition: .2s;
}
.menu-item:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}
.menu-item.active
{
    color: $color_default;
    border-left-color: $color_default;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0 15px 15px 0;
}
.menu-icon
{
    margin-right: 20px;
}
.sidebar.min .menus-section .menu-name
{
    display: none;
    font-size: 0px;
}

.nav-header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgb(233, 233, 233);
}
.header-title
{
    font-weight: bold;
    font-size: 20px;
}
.nav-header .right
{
    display: flex;
    align-items: center;
}
.notif
{
    margin-right: 20px;
    margin-top: 10px;
}
.icon-notif
{
    color: gray;
    font-size: 20px;
    cursor: pointer;
}
.u-avatar{
    cursor: pointer;
}
.user-popover{
    .item{
        width: 100%;
        padding: 5px 15px;
        color: gray;
        transition: all .2s ease;
        cursor: pointer;
        &:hover{
            background-color: $bg_color;
        }
        .icon{
            margin-right: 10px;
        }
    }
}